<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Test</title>
    <!-- CSS 경로 수정 -->
    <link th:href="@{/css/admin.css}" type="text/css" rel="stylesheet"/>
    <script th:src="@{/js/admin.jsx}" type="text/babel"></script>
    <script crossorigin src="https://unpkg.com/react@18/umd/react.development.js"></script> <!--react-->
    <script crossorigin src="https://unpkg.com/react-dom@18/umd/react-dom.development.js"></script> <!--react-->
    <script src="https://unpkg.com/@babel/standalone/babel.min.js"></script> <!--jsx-->
</head>
<body>
<div id="root"></div>
</body>
</html>