#title {
    color: red;
}

.root {
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
}

* {
    padding: 0;
    margin: 0;

}

.container {
    display: flex;
    flex-direction: column;
    position: relative;

    height: 100%;
    width: 720px;
    align-items: flex-start;
}

.backArrow {
    margin-left: 65px;
    margin-top: 50px;

    cursor: pointer;
}

.pageTitle {
    color: #292929;
    font-size: 24px;
    font-family: Pretendard;
    font-weight: 600;

    margin-left: 328px;
    margin-top: -40px;

}

.pageSemiTitle {
    color: #737373;
    font-size: 20px;
    font-family: Pretendard;
    font-weight: 500;

    margin-left: 303px;
    margin-top: 0px;

}


.articleContainer {
    width: 601px;
    height: 173px;
    border-bottom: solid 1px #E7E4E4;

    margin-left: 60px;
    margin-top: 44px;
}

.title {
    font-size: 24px;
    font-family: Pretendard;
    font-weight: 500;

    margin-left: 23px;
    margin-top: 2px;
    cursor: pointer;
}

.articleContent {
    color: #737373;
    font-size: 21px;
    font-family: Pretendard;
    font-weight: 400;

    margin-left: 23px;
    margin-top: 13px;
    cursor: pointer;
}

.unlike {
    width: 26.61px; height: 26.61px;
    margin-left: 23px;
    margin-top: 19px;
    float: left;

    cursor: pointer;
}

.likeAccount {
    color: #EE3C35;
    font-size: 20px;
    font-family: Pretendard;
    font-weight: 500;
    display: inline-block;
    float: left;
    margin-top: 21px;
    margin-left: 9px;
}

.divideLineOne {
    width: 1px;
    height: 24.39px;
    background-color: #E7E4E4;

    margin-left: 12px;
    margin-top: 21px;
    float: left;
}

.postTime {
    color: #A6A6A6;
    font-size: 20px;
    font-family: Pretendard;
    font-weight: 400;
    float: left;

    margin-left: 13px;
    margin-top: 21px;

}

.divideLineTwo {
    width: 1px;
    height: 24.39px;
    background-color: #E7E4E4;

    margin-left: 12px;
    margin-top: 21px;
    float: left;

    margin-left: 13px;
    margin-top: 21px;
    float: left;
}

.nickname {
    color: #A6A6A6;
    font-size: 20px;
    font-family: Pretendard;
    font-weight: 400;

    margin-left: 13px;
    margin-top: 21px;
    float: left;
}

.delete {
    width: 100px;
    height: 36px;
    background: #313131;
    border-radius: 10px;
    border: none;

    text-align: center;
    color: white;
    font-size: 18px;
    font-family: Pretendard;
    font-weight: 500;

    margin-left: 258px;
    margin-top: 15px;
    cursor: pointer;

    &:hover {
        background: color-mix(in srgb, #000000 90%, black 10%);
    }

    &:active {
        scale: 0.98;
    }
}