#title {
    color: red;
}

.root {
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
}

* {
    padding: 0;
    margin: 0;

}

.container {
    display: flex;
    flex-direction: column;
    position: relative;

    height: 110%;
    width: 720px;
    align-items: flex-start;
}

.backArrow {
    margin-left: 65px;
    margin-top: 50px;

    cursor: pointer;
}

.pageTitle {
    color: #292929;
    font-size: 24px;
    font-family: Pretendard;
    font-weight: 600;

    margin-left: 328px;
    margin-top: -40px;

}

.pageSemiTitle {
    color: #737373;
    font-size: 20px;
    font-family: Pretendard;
    font-weight: 500;

    margin-left: 342px;
    margin-top: 0px;

}

.writeComplete {
    width: 83px;
    height: 45px;
    background: #EE3C35;
    border-radius: 60px;
    border: none;

    color: white;
    font-size: 19px;
    font-family: Pretendard;
    font-weight: 700;

    margin-left: 575px;
    margin-top: 40px;
    position: absolute;
    cursor: pointer;
    &:hover {
        background: color-mix(in srgb, #EE3C35 90%, black 10%);
    }

    &:active {
        scale: 0.98;
    }
}

.titleInput {
    width: 544px;
    height: 36px;

    font-size: 18px;
    font-family: Pretendard;
    font-weight: 500;

    border: none;
    margin-left: 83px;
    margin-top: 34px;
    padding-top: 3px;
    padding-left: 10px;
}

.titleInput::placeholder {
    color: #C5C5C7;
    font-size: 30px;
    font-family: Pretendard;
    font-weight: 700;
    word-wrap: break-word
}

.divideLine {
    width: 554px;
    height: 1px;
    background-color: #EDEDED;

    margin-left: 83px;
    margin-top: 20px;
}

.contentInput {
    width: 554px;
    height: 640px;
    font-size: 18px;
    font-family: Pretendard;
    font-weight: 400;
    border: none;

    margin-left: 83px;
    margin-top: 20px;
    padding-left: 10px;
    padding-top: 10px;
}
.contentInput::placeholder {
    color: #C5C5C7;
    font-size: 18px;
    font-family: Pretendard;
    font-weight: 500;
    word-wrap: break-word;
}